*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

img{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    border: 5px solid lightcoral;
    border-radius: 10px;
}
ul{
    list-style: none;
}

h2{
    color: rgb(151, 63, 28);
}

.recipe-card.feature{
    border-radius: 10px;
    background-color: lightyellow;
}

.recipe-card{
    width: 1000px;
    margin: 20px auto;  /* Centrar elemento*/
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

.recipe-content{
    display: inline-block; /*em linha com a imagem do elemento*/
    padding: 10px;
    vertical-align: top;
    width: 590px;
    overflow: auto;
}
.recipe-card h2,.recipe-card a{
    text-transform: uppercase;
}
ul li{
    display: inline-block;
    margin-right: 10px;
}
ul li h3{
    font-size: 15px;
}

h3,a{
    text-transform: uppercase;
}
.view-recipe{
    margin: 15px auto;
    background-color: lightcoral;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.view-recipe a{
    color: white;
    text-align: center;
    text-decoration: none;
}